body {
  background: #E6F1CA;
}

footer {
  width: 100vw;
  background-color: #7EBEB9;
}

.container {
  width: 65% !important;
}

.signup-form {
  height: 400px;
  width: 39%;
  background-color: white;
  padding: 30px;
  border-radius: 30px;
  margin-top: 12px;
  border: 10px solid #E6F1CA;
  h2 {
    color: #a5a7aa;
    font-size: 1.2em;
    padding: 0;
    margin: 0;
  }
  input {
    margin: 0;
  }
  button, section {
    margin: 15px;
  }
}

.signup-box {
  border: 10px solid #C2D558 !important;
  margin-top: 70px;
  background-color: white;
  border-radius: 50px !important;
  display: flex;
  justify-content: space-around;
  border: 1px solid #edeeee;
  border-radius: 3px;
  padding: 10px 0;
  text-align: center;
}

.login-box {
  margin-top: 25px;
}

.pear-logo {
  margin-top: 40px;
  margin-bottom: 20px;
}

.signup-form .btn {
  &.btn-fb {
    background-color: #4090db;
    font-size: .8em;
    &:hover {
      background-color: #2d6599;
    }
  }
  &.btn-signup {
    background-color: #90B824;
    &:hover {
      background-color: #C2D558;
    }
  }
}

.pearseries h1 {
  margin-top: 0;
}

.data-box {
  display: flex !important;
  margin-top: 30px;
  margin-bottom: 30px;
}

.box {
  background-color: white;
  padding: 15px;
  height: 220px;
}

.icon {
  display: flex;
  justify-content: space-around;
  margin-top: 23px;
}

.box-2 {
  margin: 0 10px;
  border-radius: 0px 15px 15px 0;
  overflow: hidden;
  padding-top: 0;
}

.box-1 {
  border-radius: 15px 0px 0px 15px;
  overflow: hidden;
  padding-top: 0;
}

.box-3 {
  border-radius: 15px;
}

.boxing {
  display: flex;
}

.box p {
  text-align: justify;
}

.footer-box {
  padding: 6px 0;
}

/*BOX 3 ADMISION*/

.box-admision {
  background-image: url("/scene-adm.png");
  background-size: 100%;
  width: 300px;
  height: 150px;
  border-radius: 30px;
  p {
    text-align: right;
    color: white;
    margin-right: 16px;
    font-size: large;
  }
}

.p1-adm {
  padding-top: 28px;
  font-size: 1.4em;
  margin-bottom: 0;
}

.p2-adm {
  margin: 0;
}

.flash-adm {
  float: left;
  position: relative;
  width: 160px;
  top: -80px;
  border-radius: 0 0 0 30px;
}

.btn-adm {
  margin-top: 17px;
  border-radius: 10px;
}

.btn-reg-med {
  width: 74%;
  font-size: smaller;
  text-align: center !important;
  padding: 0 4px;
}

@media screen and (max-width: 1261px) {
  .login-box {
    margin-top: 31px;
    font-size: 75%;
  }
  .signup-form {
    .btn.btn-fb {
      width: 99%;
    }
    input {
      font-size: small;
    }
    width: 43%;
    button {
      margin-top: 26px;
      margin-bottom: 4px;
    }
  }
  .icon {
    margin-top: 5px;
  }
  .box p {
    font-size: smaller;
  }
  .box-1 .box-2 {
    padding-top: 15px;
  }
  .box {
    height: 198px;
  }
  .boxing {
    display: flex;
  }
}

@media screen and (max-width: 840px) {
  .signup-box {
    display: inherit;
  }
  .signup-form {
    margin: 0 auto;
  }
  .pearseries {
    display: block;
  }
  .pear-logo {
    width: 100px;
    height: 100px;
    margin: 0 auto;
  }
  .pearseries {
    h1 {
      margin-top: 0px;
      margin-bottom: 2px;
      font-size: x-large;
    }
    p {
      margin-top: 0px;
    }
  }
  .box {
    height: auto;
  }
  .data-box {
    display: block !important;
  }
  .box-2 {
    margin: 10px 0;
  }
  .box-admision {
    background-repeat: no-repeat;
    width: auto;
    height: 120px;
    margin-bottom: 10px;
  }
  .flash-adm {
    width: 110px;
    top: -38px;
  }
  .btn-adm {
    width: 100px;
    height: 30px;
    font-size: smaller;
    padding: 0;
    line-height: 2.6em;
    float: right;
    margin-right: 30px;
  }
  .signup-form {
    margin: 0 auto;
    padding: 15px;
    width: 100%;
    border: none;
  }
  .text-admision p {
    margin-right: 28px;
    padding-top: 17px;
    line-height: 1;
    font-size: large;
  }
  .boxing {
    display: block;
  }
}

@media screen and (max-width: 450px) {
  .btn-adm {
    width: 78px;
    height: 30px;
    font-size: smaller;
    padding: 0;
    line-height: 2.6em;
    float: right;
    margin-right: 13px;
  }
  .text-admision p {
    margin-right: 18px;
    padding-top: 22px;
    line-height: 1.2;
    font-size: small;
  }
}

/*ADMISION TEST*/

.admision-box {
  border: 10px solid #C2D558 !important;
  background-color: white;
  border-radius: 50px !important;
  display: block;
  border: 1px solid #edeeee;
  border-radius: 3px;
  padding: 10px;
  width: 80%;
  margin: 20px auto;
}

.psadmision-logo {
  display: flex;  
}

.psadmision-logo h1 {
  margin-top: 28px;
  font-size: xx-large;
}

.pear-logo-admision {
  width: 70px;
  height: 70px;
  margin: 0;
}

#frame h1 {
  margin: 0 auto;
  text-align: center;
}

#question {
  font-size: xx-large;
  margin: 0 auto 15px;
  padding: 10px;
  background-color: 7EBEB9;
  /* border: 3px solid #90B824; */
  border-radius: 10px;
  width: 100%;
  text-align: center;
}

#question-image {
  width: 100%;
  border-radius: 20px;
}

#choice-block .choice-box {
  background-color: #F6EA8F;
  width: 40%;
  margin: 10px auto;
  text-align: center;
  padding: 12px;
  border: 5px solid #90B824;
  border-radius: 20px;
  &:hover {
      background-color: #C2D558;
    }
}

#submitbutton {
  background-color: #90B824;
  text-align: center;
  width: 26%;
  padding: 13px 0 !important;
  border-radius: 20px;
  color: white !important;
  margin: 0 auto;
  font-weight: normal !important;
  font-size: smaller;
}

#pager {
  margin-left: 10px;
  margin-bottom: 5px;
  font-weight: 700;
}


















