body {
  background: #E6F1CA; }

footer {
  width: 100vw;
  background-color: #7EBEB9; }

.container {
  width: 65% !important; }

.signup-form {
  height: 400px;
  width: 39%;
  background-color: white;
  padding: 30px;
  border-radius: 30px;
  margin-top: 12px;
  border: 10px solid #E6F1CA; }
  .signup-form h2 {
    color: #a5a7aa;
    font-size: 1.2em;
    padding: 0;
    margin: 0; }
  .signup-form input {
    margin: 0; }
  .signup-form button, .signup-form section {
    margin: 15px; }

.signup-box {
  border: 10px solid #C2D558 !important;
  margin-top: 70px;
  background-color: white;
  border-radius: 50px !important;
  display: flex;
  justify-content: space-around;
  border: 1px solid #edeeee;
  border-radius: 3px;
  padding: 10px 0;
  text-align: center; }

.login-box {
  margin-top: 25px; }

.pear-logo {
  margin-top: 40px;
  margin-bottom: 20px; }

.signup-form .btn.btn-fb {
  background-color: #4090db;
  font-size: .8em; }
  .signup-form .btn.btn-fb:hover {
    background-color: #2d6599; }

.signup-form .btn.btn-signup {
  background-color: #90B824; }
  .signup-form .btn.btn-signup:hover {
    background-color: #C2D558; }

.pearseries h1 {
  margin-top: 0; }

.data-box {
  display: flex !important;
  margin-top: 30px;
  margin-bottom: 30px; }

.box {
  background-color: white;
  padding: 15px;
  height: 220px; }

.icon {
  display: flex;
  justify-content: space-around;
  margin-top: 23px; }

.box-2 {
  margin: 0 10px;
  border-radius: 0px 15px 15px 0;
  overflow: hidden; }

.box-1 {
  border-radius: 15px 0px 0px 15px;
  overflow: hidden; }

.box-3 {
  border-radius: 15px; }

.box p {
  text-align: justify; }

.footer-box {
  padding: 6px 0; }

/*BOX 3 ADMISION*/
.box-admision {
  background-image: url("/scene-adm.png");
  background-size: 100%;
  width: 300px;
  height: 150px;
  border-radius: 30px; }
  .box-admision p {
    text-align: right;
    color: white;
    margin-right: 16px; }

.p1-adm {
  padding-top: 28px;
  font-size: 1.4em;
  margin-bottom: 0; }

.p2-adm {
  margin: 0; }

.flash-adm {
  float: left;
  position: relative;
  width: 50%;
  top: -66px;
  border-radius: 0 0 0 30px; }

.btn-adm {
  margin-top: 17px;
  border-radius: 10px; }

.btn-reg-med {
  width: 74%;
  font-size: smaller;
  text-align: center !important;
  padding: 0 4px; }

@media screen and (max-width: 1261px) {
  .login-box {
    margin-top: 31px;
    font-size: 75%; }
  .signup-form .btn.btn-fb {
    width: 99%; }
  .signup-form input {
    font-size: small; }
  .signup-form {
    width: 43%; }
  .signup-form button {
    margin-top: 26px;
    margin-bottom: 4px; }
  .icon {
    margin-top: 5px; }
  .box p {
    font-size: smaller; } }

@media screen and (max-width: 500px) {
  .signup-box {
    display: inherit; }
  .signup-form {
    margin: 0 auto; }
  .pearseries {
    display: flex; } }
